body {
    background-color: #080808;
    background: -webkit-canvas("mycanvas");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
}

#mycanvas { 
  display: block; width: 100vw; height: 100vh;
}

button {
    position: absolute;
    z-index: 1;
}
